[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KPeople/DataSource
X-KDE-Library=KPeopleSink
X-KDE-PluginInfo-Author=Rituka Patwal
X-KDE-PluginInfo-Email=ritukapatwal21@gmail.com
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
